@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


/* Prevent horizontal scrolling globally */
html, body {
  overflow-x: hidden;
}
